/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 900px;
}

.hello-p {
	display: inline-block;
	color: $white;
	font-size: 14pt;
	line-height: 1.8;
	// height: 100%;
	// display: block;
	// position: absolute;
	// vertical-align: middle;
	// margin-top: 15%;
}

.frog {
	img {
		width: 100%;
	}
}